*{
  justify-content: center;
  width: 100%;
  background-color: rgb(254, 255, 255);
}
button{
  width: 150px;
  height: 45px;
  color: black;
  background-color: rgb(231, 231, 231);
}
button:hover{
  background-color: black;
  color: white;
}
.name-mail{
  font-size: 25px;
  color: black;
}